.nav {
    background-image: url(https://source.unsplash.com/1200x700/);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    &__wrap {
        display: flex;
        align-items: flex-start;
        transition: 0.5s;
        
        &:hover {
            background-color: rgba(214, 214, 214, 0.4);
        }
    }

    &__brand {
        flex: 2;
        display: flex;
        align-items: center;
    }

    // &__logo {
    //     // height: 90px;
    //     // width: 52px;
    // }

    &__name {
        text-transform: uppercase;
        margin-left: 1rem;
        color: white;
    }

    &__list {
        flex: 1.5;
        display: flex;
    }

    &__item {
        list-style: none;
        flex: 1;
        text-align: center;
    }

    &__link {
        display: block;
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
        padding: 1rem 0;
        // font-weight: bold;
        font-size: 1.2rem;
        font-family: Tahoma;
        // text-transform: uppercase;
        transition: 0.5s;

        &:hover {
            color: white;
        }
    }

    &__title{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        font-family: sans-serif;
        text-decoration: overline;
        letter-spacing: 2px;     
        position: relative;
        top: 20%;

        &::selection {
            background-color: rgb(253, 237, 237);
        }
    }

    .wrappin {
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .another-one {
        width: 30px;
        height: 50px;
        border: 2px solid transparent;
        border-radius: 1rem;
        animation-name: frame;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;  
        animation-timing-function: ease-in;
        background: linear-gradient(#ccc, #ccc) padding-box,
        linear-gradient(to bottom, black 50%, white 50%) border-box;
        background-size: 100% 200%;

        @keyframes frame {
            100%{background-position: 0 -100%;}
        }

        &::before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            top: 515px;
            left: 50%;
            border-radius: 5px;
            background-color: black;
            margin-left: -2.5px;
            animation-name: ball;
            animation-duration: 1.4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes ball {
            100% {top: 550px; opacity: 0.3; height: 0; background-color: white}
        }

        .arrows {
            position: relative;
            top: 60px;
            left: 7px;
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 0.3rem;
            transform: rotate(45deg);
            animation-name: mid;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @keyframes mid {
                50% { border: solid white; border-width: 0 2px 2px 0;}
            }
        
            &::before {
                content: '';
                position: absolute;
                top: -8px;
                left: -8px;
                border: solid black;
                border-width: 0 2px 2px 0;
                padding: 0.3rem;
                animation-name: uperr;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            @keyframes uperr {
                0%{ border: solid white; border-width: 0 2px 2px 0;}
            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 8px;
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 0.3rem;
                animation-name: low;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                @keyframes low {
                    100% { border: solid white; border-width: 0 2px 2px 0;}
                }
            }
        }
    }
}